<div class="container">
  <h1>Météo</h1>
  <form (submit)="submitLocation(ville)">
    <input type="text" placeholder="Entrez une ville" #ville>
    <button id="btn">Valider</button>
  </form>

  <div *ngIf="weather" class="main">
    <h1>{{ weather.name }}</h1>
    <img id="icone" [src]="'http://openweathermap.org/img/wn/'+ weather.weather[0].icon +'@2x.png' | safe: 'resourceUrl'" alt="icone">
    <div class="row">
      <p>Température: <span>{{ weather.main.temp }} c°</span></p>
      <p>Condition: <span>{{ weather.weather[0].description }}</span></p>
      <p>Humidité: <span>{{ weather.main.humidity }} %</span></p>
      <p>Vent: <span>{{ weather.wind.speed }} km/h</span></p>
  </div>
  </div>
</div>

